# Telegram Bot Credentials
VITE_TELEGRAM_BOT_TOKEN=YOUR_BOT_TOKEN
VITE_TELEGRAM_BOT_USERNAME=@YourBotUsername
VITE_TELEGRAM_APP_SHORT_NAME=t.me/YourBotUsername/app_name

# Solana RPC Endpoint
VITE_RPC_URL=https://api.mainnet-beta.solana.com
